@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

:root {
  --black: #151b26;
  --brown: rgb(140, 132, 132);
  --border: rgb(180, 165, 165, 0.3);
  --background: #f6f8f9;
  --red: #e8384f;
  --green: #a4ce30;
  --orange: #fd612c;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  width: 100%;
}

#projectName {
  cursor: text;
}

#project {
  border-bottom: 2px solid var(--border, gray);
  border-top: 2px solid var(--border, gray);
  padding: 10px 0;
}

#project span {
  margin-right: 5vw;
  vertical-align: bottom;
  padding: 0;
}
#projectBtn {
  color: var(--brown);
  font-size: 30px;
  font-weight: 500;
}

#projectBtn:hover {
  text-decoration: underline;
}

.containBox {
  min-height: 75vh;
}

#backgroundC {
  background-color: var(--background);
  max-height: 1000%;
  min-height: 100%;
}

.text-dark {
  user-select: none;
  text-align: center;
  font-size: 25px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: bottom;
  margin-bottom: -5px;
}

#googleBtn {
  cursor: default;
  margin-right: 2vw;
}

.nav navbar-right {
  width: auto;
}

.deleteItem {
  cursor: pointer;
  margin-right: 40px;
  display: inline-block;
  user-select: none;
  color: var(--black, black);
  background-color: transparent;
  border: var(--black, black);
}

.navbar {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.tileContainer {
  margin-top: -30px;
  height: 100%;
}
.draggable.dragging {
  opacity: 0.5;
}

.draggable {
  border: 3px solid var(--border, gray);
  font-weight: 200;
  background-color: white;
  margin-top: 15px;
  border-radius: 10px;
  width: 94%;
  margin-left: 8px;
  min-height: 50px;
  padding: 0.5em;
  color: var(--black);
}
.draggable div {
  margin-left: 10px;
}
.priority {
  display: inline-block;
  text-align: center;
  color: white;
  border-radius: 15px;
  margin-left: 8px;
  margin-bottom: 5.4px;
  width: 100px;
}

.lowPriority {
  cursor: pointer;
  background-color: var(--green);
}

.mediumPriority {
  cursor: pointer;
  background-color: var(--orange);
}

.highPriority {
  cursor: pointer;
  background-color: var(--red);
}

.plus {
  user-select: none;
  color: var(--brown);
  margin-left: 8px;
  width: 94%;
  background-color: white;
  height: 3em;
  border: none;
  outline: none;
}
.plus:active,
.plus:focus,
.plus.active,
.plus:active:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

#logoutButton {
  font-weight: 200;
}

.otherUsersImages {
  display: block;
  border-radius: 50%;
  max-width: 100%;
  height: 30px;
  margin-left: 8px;
  margin-top: 5.4px;
  margin-bottom: 5.4px;
}

#userImg {
  border-radius: 50%;
  max-width: 100%;
  height: 45px;
  margin-bottom: 5.4px;
}

.tile {
  color: var(--black);
  padding-top: 3%;
  margin-top: 6%;
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
  padding-bottom: 3%;
}
.tile p {
  margin-top: 5.4px;
  margin-left: 8px;
  margin-bottom: 5.4px;
}

li {
  font-size: 28px;
  font-weight: 200;
  cursor: pointer;
}

.container {
  position: absolute;
  top: 40%;
  left: 44%;
  transform: translate(-40%, -40%);
}
table {
  margin-top: 40px;
}

table td {
  width: 100vw;
  padding: 25px 50px 20px 50px;
  text-align: left;
  border-bottom: 2px solid var(--border, gray);
  border-top: 2px solid var(--border, gray);
  cursor: pointer;
}

.container {
  display: none;
  background: #fff;
  width: 410px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
